*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ebebeb;
}

.infor{
    width: 100%;
    height: 100vh;
    background: rgb(238, 243, 245);
    align-items: center;
    justify-content: center;
    padding: 10px 10%;
}

.infor h2{
    text-align: center;
    font-size: 20px;
    font-family: poppins;
    color: white;
    display: block;
    background-color: blue;
    padding: 10px 10%;
    border-radius: 8px;
    border: none;
}

.work{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

}

button{
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  background: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover{
    background: rgb(210, 242, 250);
}

.work img {
    width: 60px;
    padding: 5px;
    background: white;
    border-radius: 50%;
  
   
}

.workspace{
    max-width: 80%;
    height: auto;
    background: rgb(253, 253, 252);
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin: 07px 10%;
    padding: 20px 30px;
}

.input{
    padding: 20px;
}

.input h2{
    background: none;
    color: black;
}

.value1{
    width: 100%;
    height: 50px;
    margin: 05px auto;
    font-size: 16px;
    font-family: sans-serif;
    padding: 5px 20px;
    border-radius: 5px;
    border-bottom: 2px solid black;
   color: rgb(214, 9, 9);
    outline: none;
}

.btn{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: poppins;
    background: rgb(36, 172, 235);
    margin-bottom: 10px;
}

.active{
    background: rgb(36, 172, 235);
}


@media screen and (max-width:320px){


    .infor{
        width: 100%;
        height: 100vh;
        background: rgb(238, 243, 245);
        align-items: center;
        justify-content: center;
    }

    
.infor h2{
    text-align: center;
    font-size: 20px;
    font-family: poppins;
    color: white;
    display: block;
    background-color: blue;
    padding: 0px 0%;
    border-radius: 8px;
    border: none;
}

    .workspace{
        max-width: 100%;
        height: auto;
        background: rgb(253, 253, 252);
        border-radius: 10px;
        border: none;
        margin-top: 03px;
        margin: 10px;
        padding: 0px 10px;
    }

    .work{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 04px;
        margin-top: 04px;
    
    }

    button{
        border-radius: 10px;
        border: none;
        background: white;
        cursor: pointer;
        transition: .3s ease-in-out;
      }
    
      .input{
        padding: 0px;
    }
}




